<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>コンサート会場にたどり着け！~監禁部屋からの脱出~ │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="https://github.com/Sou-Sakuma/alfa-yokohama-A/blob/main/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202021-09-14%2016.05.17.png?raw=true" alt="コンサート会場にたどり着け！~監禁部屋からの脱出~"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="step">

      <!-- STEP1　ここから -->
      <div id="sectionStep1" class="step">

        <!-- STEP1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__step"></span>監禁部屋から脱出しよう！</h2>
            <p class="text-center">まずは金庫に書かれている謎を解いて鍵をゲットしよう。</p>
            <p class="text-center">もし分からなかったらマネージャーからヒントをもらおう。</p>
            （画像が大きくて見えない場合は上下左右にスライドさせて調整してください）
  
            <div class="container">
              <figure class="image__container">
                <img src="https://github.com/Sou-Sakuma/alfa-yokohama-A/blob/main/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202021-09-14%2016.05.17.png?raw=true
                          " alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STEP1問題セクション　ここまで -->

        <!-- STEP1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__step">STEP1</span>次の謎を解いて数字を入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['step1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'step1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'step1', 1 はstep1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['step1']['q1']" v-on:answer-input="answerInput($event, 'step1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STEP1解答入力セクション　ここまで -->

        <!-- STEP1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['step1']がtrusになります。
          v-if="clear['step1']"はclear['step1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['step1']}"はclear['step1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['step1']" v-bind:class="{isClear:clear['step1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STEP１  クリア！</div>
              <div class="clear-message__content">鍵を２個手に入れた！<br>
                「監禁部屋の鍵」と書いてある鍵を使って監禁部屋から出よう<br>
                </div>
              <button v-on:click="nextStep('step1')" onclick="location.href='#sectionStep2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STEP1クリア画面　ここまで -->

      </div>
      <!-- STEP1　ここまで -->

      <!-- STEP2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['step1']"はnext['step1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['step1']" id="sectionStep2" class="step">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__step">STEP2</span>地図に書かれている謎を解いてこの偽の会場から出よう！</h2>
              <p class="text-center">監禁部屋から出ると目の前に地図が置いてあった。<br>
                
              地図に書かれている謎を解いて偽の会場の出口を導こう！</p>
            </div>
          </div>
          <div class="step-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__step">STEP：2</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STEP2-1　ここから -->
                <div class="column">
                  <!-- STEP2-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="https://github.com/Sou-Sakuma/alfa-yokohama-A/blob/main/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202021-09-13%2011.00.31.png?raw=true" alt="">
                  </figure>
                  <!-- STEP2-1問題セクション　ここまで -->
                  <!-- STEP2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['step2']['q1']" v-on:answer-input="answerInput($event, 'step2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STEP2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STEP2-1　ここまで -->

<!-- STEP2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/step.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['step2']['q2']" v-on:answer-input="answerInput($event, 'step2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STEP2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/step.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['step2']['q3']" v-on:answer-input="answerInput($event, 'step2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STEP2クリア画面　ここから -->
        <section v-if="clear['step2']" v-bind:class="{isClear:clear['step2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">STEP2　クリア！</div>
              <div class="clear-message__content"><br>
                次のステージの謎を解こう！</div>
                <button v-on:click="nextStep('step2')" onclick="location.href='#sectionStep3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STEP2クリア画面　ここまで -->
      </div>
      <!-- STEP2　ここまで -->

      <!-- STEP3　ここから -->
      <div v-if="next['step2']" id="sectionStep3" class="step">

        <!-- STEP3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__step">STAGE：3</span>謎を解いて車でコンサート会場にたどり着け！</h2>
            <p class="text-center">会場から出ると、マネージャーが置いていったものらしき車が停めてあった。
              車の鍵は最初の金庫で見つけた鍵が使えそうだ。
              でもコインパーキングが古すぎて車が何番に停められているのかが分からない…
              あれ…精算機のところに何か謎が書いてある…これを解けば何番に止められているかがわかるかも！
            <figure class="image__container">
              <img src="https://github.com/Sou-Sakuma/alfa-yokohama-A/blob/main/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202021-09-14%2015.36.21.png?raw=true" alt="">
            </figure>
          </div>
        </section>
        <!-- STEP3-1問題セクション　ここまで -->

        <!-- STEP3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__step">STEP3</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['step3']['q1']" v-on:answer-input="answerInput($event, 'step3', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STEP3-1解答入力セクション　ここまで -->

<!-- STEP3-2問題セクション を追加

          <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/step.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__step">STEP：3</span>キーワードを入力</h2>
            <answer-input v-bind:correct="correctAnswer['step3']['q2']" v-on:answer-input="answerInput($event, 'step3', 2, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
      　　
STEP3-2追加ここまで -->

          
<!-- STEP3-3問題セクション　を追加
        <section class="section">
          <div class="container">

            <figure class="image__container">
              <img src="assets/images/step.png" alt="">
            </figure>
          </div>
        </section>

        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__step">STEP3</span>キーワードを入力</h2>

            <answer-input v-bind:correct="correctAnswer['step3']['q3']" v-on:answer-input="answerInput($event, 'step3', 3, 'final')"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>

STEP3-3追加　ここまで -->

          
      </div>
      <!-- STEP3　ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
